

@keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  
  .menu-container {
    width: 70%;
    overflow: hidden;
    margin: 50px 230px 50px;
    
    
  }
  
  .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item1 {
    border-radius: 8px;
    position: relative;
    height: 50px;
    width: 70%;
    margin-bottom: 10px;
    background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite linear;
  }
  .menu-item2 {
    border-radius: 8px;
    position: relative;
    height: 40px;
    width: 55%;
    margin-bottom: 10px;
    background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite linear;
  }
  .menu-item3 {
    border-radius: 8px;
    position: relative;
    height: 30px;
    width: 45%;
    margin-bottom: 10px;
    background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite linear;
  }
  .menu-item4 {
    border-radius: 8px;
    position: relative;
    height: 22px;
    width: 35%;
    margin-bottom: 10px;
    background: linear-gradient(to right, #f0f0f0 4%, #e0e0e0 25%, #f0f0f0 36%);
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite linear;
  }
  